.App {
  text-align: center;
  padding: 7px
}
a:visited{
  color: blue
}

.links{
  padding: 6px;
  border: 2px soild black;
  background-color: tan;
  border-radius: 5%
}

body{
  background-color: orangered;
  margin-left: 0%;
}

#map{
  width: 300px;
  height: 200px;

}

.icons{
  display: inline-flex;
  height: auto;
  padding: 5px;
  width: 400px; 
  height: 300px;
  border: 2px solid black;
  background-size: 100% 100%;
}

#all{
  background-size: 100% 100%;
}

#bx{
  background-size: 100% 100%;
}

#bk{
  background-size: 100% 100%;
}