.courtNames {
    height: 400px;
    width: 35%;
    overflow: scroll;
}

.name {
    font-size: 24px;
    color: black;
}

.map {
    position: relative;
    width: 50vw;
    height: 60vh;
    right: -45%;
    margin-top: -30%
}

