.container{
	width: 425px;
	height: 400px;
	margin-right: 1%;
	margin-top: -4%;
	border-radius: 10px;
	border: 5px solid black;
	background-color: black;
}

.row{

	height: 100%;
	border-radius: 10px;

}

.col-4{

	height: 100%;
	border-radius: 5px;

}

.card{
	height: 100%;
	border-radius: 10px;

}

.card-body{
	background-color: whitesmoke;
	height: 72%;
	border-radius: 5px;
}

.card-title{
	text-align: center;
	background-color: steelblue;
	color: whitesmoke;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.messages{
	width: 99%;
	margin-left: 3px;
	height: 92%;
	overflow: scroll;
}


hr{
background-color: black
}